*{
  margin: 0;
  padding: 0;
  font-family: outfit;
  box-sizing: border-box;
}

p,h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}


@media screen and (max-width:642px) {
  .box-parent{
    display: flex;
    flex-direction: column;
  }
}